header {
  height: 20px;
  width: 100%;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 3rem 1rem 2rem;
  z-index: 2;

  .brand {
    &__logo {
      display: block;
      width: 100px;
      max-width: 100%;
      height: auto;
    }
  }

  .nav {
    position: absolute;
    top: 15vh;
    left: 50%;
    right: 0;
    background: $blue;
    width: 85%;
    height: 350px;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    @include transition-ease;

    &.open {
      visibility: visible;
      opacity: 1;
      @include transition-ease;
    }

    &::after {
      content: "";
      width: 100vw;
      height: 100vh;
      background: rgba($color: $blue, $alpha: 0.3);
      position: absolute;
      top: -10px;
      bottom: 0;
      z-index: -1;
      @include transition-ease;
    }

    .menu-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1.5rem;
      box-shadow: inset 0 -1px 0px rgba(#fff, 0.1);
      width: 85%;
      @include transition-ease;

      &__item {
        margin: 1rem 0;
      }

      &__link {
        font-weight: 700;
        font-family: $font;
        font-size: 1.1rem;
        @include transition-ease;

        &:hover {
          color: $primary-color;
        }
      }
    }

    &__btns {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      a {
        display: inline-block;
        margin: 0.8rem 0;
        @include transition-ease;
      }

      a:first-child {
        margin-top: 2rem;
        @include transition-ease;

        &:hover {
          color: $primary-color;
        }
      }

      .btn-primary {
        text-align: center;
        width: 90%;
        @include transition-ease;
      }
    }
  }

  .menu-btn {
    position: fixed;
    right: 1rem;
    top: 2.2rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
    z-index: 1;

    &__burger {
      height: 3px;
      width: 22px;
      background: $gray;
      position: absolute;
      top: 0.5rem;
      border-radius: 5rem;
      display: inline-block;
      margin: 0 auto;
      @include transition-ease;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        background: $gray;
        width: 22px;
        height: 3px;
        @include transition-ease;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        background: $gray;
        width: 22px;
        height: 3px;
        @include transition-ease;
      }

      &.open {
        background: transparent;
        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
        &::after {
          transform: rotate(-45deg) translate(3px, -6.5px);
        }
      }
    }
  }
}
